# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore class files for library
/lib/bin

# Not sure if this should be ignored but it contains a jar file
/gradle
